@media(max-width:1200px){
    img.main_img {
        max-width: 350px;
    }
    
    img.rectangle-shape {
        max-width: 225px;
    }
    
    section#carousel {
        max-height: 443px;
    }
    img.rectangle-shape {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -22px;
        z-index: -1;
    }
    .carousel-content {
     
padding: 1.5rem 0;
     
padding-left: 7rem;
    }
    .carousel-content h2 {
     
font-size: 30px;
    }
    .carousel-content p {
        font-size: 18px;
    }
    .offering_wrap h3 {
        text-align: center;
        padding: 2rem 0.6rem;
        font-size: 26px;
        color: #283b7a;
        font-weight: 400;
    }
    .course_details {
        padding: 1rem 0rem;
        padding-right: 16rem;
    }
    .contact_wrap h2 {
        font-size: 25px;
        color: #283b7a;
        line-height: 90%;
        margin-top: 25px;
    }
}

@media(max-width:786px){
    img.main_img {
        max-width: 211px;
    }

    img.rectangle-shape {
        max-width: 146px;
    }
    .carousel-content h2 {
        font-size: 22px;
    }
    .carousel-content p {
        font-size: 14px;
    }
    .carousel-content .btn {
        font-size: 15px;
        line-height: 22px;
     
        padding-bottom: 5px;
    }
    img.rectangle-shape {
       
        right: -11px;
       
    }
    .carousel-content {
        padding: 0.8rem 0;
        padding-left: 7rem;
    }
    .offering_wrap h3 {
    
        padding: 2rem 0.6rem;
        font-size: 19px;
     
    }
    .Medical img, .business_box img {
        max-width: 123px;
    }
    .course_details {
        padding: 1rem 0rem;
        padding-right: 8rem;
    }
    .Medical img, .business_box img {
        max-width: 71px;
    }
    .Medical h3, .business_box h3 {
        padding-left: 57px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 14px;
    }
    .featured_card_wrap {
      
        flex-direction: column;
    }
    .product_details_box {
        border: 1px solid #1ab8bc;
        border-radius: 6px;
        max-width: 100%;
    }
    .featured_card_wrap {
        display: flex;
        gap: 23px;
    }
    img.main_img {
        max-width: 126px;
    }
    img.rectangle-shape {
        max-width: 91px;
    }
    .carousel-content h2 {
        font-size: 19px;
    }
    img.main_img {
        max-width: 126px;
        display: none;
    }
    img.rectangle-shape {
        display: none;
    }
    .carousel-content {
        padding: 2.8rem 0;
        padding-left: 5rem;
    }
    .carousel-content {
        position: relative;
        margin-left: 0;
       
    }
    .carousel-content {
    background: linear-gradient(#000000b8, rgb(0 0 0 / 51%), rgb(0 0 0 / 46%), rgba(0, 0, 0, 0.371)), url(../images/Screenshot_6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    .carousel-content {
        padding: 6.8rem 1rem;
        padding-left: 0;
        text-align: center;
        height: 363px;
    }
    .carousel-content h2 {
        font-size: 40px;
        color: white;
    }
    .carousel-content h2 {
        font-size: 40px;
        color: white;
    }
    span.slide_icon {
        width: 35px;
        height: 35px;
       
    }
    .carousel-content p {
        font-size: 14px;
        color: white;
    }
    span.slide_icon svg {
        width: 22px;
        fill: #bcbcbc;
    }
   
    .carousel-control-next {
        right: 7px;
    }
    .carousel-control-prev{
        left: 5px;
    }











}



@media(max-width:575px){
    .carousel-content .btn {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 5px;
    }
  
    
    .product_details_box .title_link {
        
        height: 70px;
    }
}