.landing-page{
    font-family: Arial, Helvetica, sans-serif;
}


.carousel-item.active {
    display: flex;
}

.carousel-content {width: 100%;align-self: center;justify-content: center;margin: 0 auto;background: #e9ebed;padding: 3rem 0;}

.carousel-item {
    background: #d4d7db;
}

.carousel-item {
    position: relative;
}


.carousel-content{
    position: relative;
    margin-left: -56px;
    padding-left: 7rem;
}
.carousel-image {
    z-index: 10;
}

.carousel-image {
    position: relative;
    display: block;
}

.carousel-image::before {
    position: absolute;
    content: "";
    background: url(../images/rectangle-shape.png);
    height: 370px;
    width: 270px;
    top: 45px;
    right: -30px;
    background-size: 266px;
    background-repeat: no-repeat;
    z-index: -1;
}

.carousel-content h2 {
    color: #ef7b30;
}

.carousel-content p {
    font-size: 18px;
}

.carousel-content .btn {
    font-size: 18px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.offering_wrap h3 {
    text-align: center;
    padding: 3rem .6rem;
    font-size: 33px;
    color: #283b7a;
    font-weight: 400;
}
section#businss_services {background: #d4d7db;}

.business_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

.Medical {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bueinss_wrap {
    position: relative;
}

.bueinss_wrap::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 42px;
    background: #e9ebed;
    top: 50%;
    z-index: 0;
    transform: translateY(-50%);
}

.bueinss_wrap .container-fluid {
    z-index: 9999999;
}


.Medical h3 ,
.business_box h3 ,
.business_box img ,
.Medical img {
    z-index: 999;
    font-weight: 400;
    color: #ef7b30;
}

.business_box,
.Medical{
    position: relative;
}

.Medical h3 ,
.business_box h3 {
    padding-left: 66px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.Medical img ,
.business_box img {
   max-width: 250px;
}

.landing-page{
    font-family: Arial, Helvetica, sans-serif;
}


.carousel-item.active {
    display: flex;
}

.carousel-content {width: 100%;align-self: center;justify-content: center;margin: 0 auto;background: #e9ebed;padding: 3rem 0;}

.carousel-item {
    background: #d4d7db;
}

.carousel-item {
    position: relative;
}


.carousel-content{
    position: relative;
    margin-left: -56px;
    padding-left: 7rem;
}
.carousel-image {
    z-index: 10;
}

.carousel-image {
    position: relative;
    display: block;
}

.carousel-image::before {
    position: absolute;
    content: "";
    background: url(../images/rectangle-shape.png);
    /* height: 370px; */
    /* width: 270px; */
    top: 50%;
    background-position: center;
    transform: translateY(-50%);
    right: -31px;
    background-size: 262px;
    background-repeat: no-repeat;
    z-index: -1;
}

.carousel-content h2 {
    color: #ef7b30;
}

.carousel-content p {
    font-size: 18px;
}

.carousel-content .btn {
    font-size: 18px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.offering_wrap h3 {
    text-align: center;
    padding: 3rem .6rem;
    font-size: 33px;
    color: #283b7a;
    font-weight: 400;
}
section#businss_services {background: #d4d7db;}

.business_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

.Medical {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bueinss_wrap {
    position: relative;
}

.bueinss_wrap::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 41px;
    background: #e9ebed;
    top: 50%;
    z-index: 0;
    transform: translateY(-50%);
}

.bueinss_wrap .container-fluid {
    z-index: 9999999;
}


.Medical h3 ,
.business_box h3 ,
.business_box img ,
.Medical img {
    z-index: 999;
    font-weight: 400;
    color: #ef7b30;
}

.business_box,
.Medical{
    position: relative;
}

.Medical h3 ,
.business_box h3 {
    padding-left: 66px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.Medical img ,
.business_box img {
   max-width: 179px;
}

.shape {
 display: block;
 position: relative;
 background: blue;
 width: 15px;
 height: 41px;
 position: absolute;
 left: 0;
 }
  .shape::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 9px solid blue;
    border-top: 9px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .shape::before {
    content: "";
    position: absolute;
    right: -7px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 8px solid blue;
    border-top: 22px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .bueinss_wrap .container-fluid {
    padding-left: 0;
    padding-right: 12px;
}

.Medical .shape {
    left: -25px;
}

.shape {
 display: block;
 position: relative;
 background: blue;
 width: 15px;
 position: absolute;
 left: 10px;
 top: 50%;
 transform: translateY(-50%);
 }
  .shape::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 9px solid blue;
    border-top: 9px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .shape::before {
    content: "";
    position: absolute;
    right: -7px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 8px solid blue;
    border-top: 22px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .bueinss_wrap .container-fluid {
    padding-left: 0;
    padding-right: 12px;
}

.Medical .shape {
    left: -2px;
}

.margin_control {
    padding-left: 0;
    padding-right: 0;
}

.featured_prodect h4 {
    color: #97989a;
    font-weight: 500;
    font-style: italic;
    font-size: 22px;
}

.featured_card_wrap {
    display: flex;
    gap: 14px;
}

.product_details_box h2 {
    background: #2090d0;
    padding: 17px 20px;
    color: white;
    font-weight: 400;
    font-size: 28px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 78px;
}

.product_details_box {
    border: 1px solid #1ab8bc;
    border-radius: 6px;
    max-width: 236px;
}

.product_details_box p {
    padding: 5px 10px;
    font-size: 16px;
}

.product_details_box.right h2 {
    background: #1ab8bc;
}

.course_details h3 {
    color: #283c7b;
    font-size: 22px;
    text-align: center;
    line-height: 25px;
    padding: 1.2rem 0;
    font-weight: 500;
    font-style: italic;
}

.course_details ul li {
    list-style: none;
    position: relative;
    margin-bottom: 7px;
    text-decoration: underline;
}

.course_details ul li::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: red;
    left: -14px;
    top: 10px;
}

.course_details {
    padding: 1rem 4rem;
}
.product_details_box.right_right h2,
.product_details_box.right_left h2 {
    background: orange;
    padding: 0;
    align-items: center;
    padding-left: 18px;
    line-height: 29px;
    padding-top: 5px;
}

.product_details_box.right_left {
    border-color: orange;
}

.product_details_box.right_right h2 {
    background: #394e8b;
}

.product_details_box.right_right {
    border-color: #394e8b;
}